/* DengueDataList.css */
.dengue-list-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 400px;
    border: 1px solid #1d127c;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .dengue-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .dengue-table th,
  .dengue-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .dengue-table th {
    background-color: #1d127c;
    color: white;
  }
  
  .dengue-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .dengue-table tr:hover {
    background-color: #e2e2e2;
  }
  
  .dengue-table td button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
  }
  
  .edit-btn {
    background-color: #576df8;
    color: white;
    margin-right: 5px;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
  }
  

  
  .delete-btn:hover {
    background-color: #d32f2f;
  }
  
  .dengue-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .dengue-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .dengue-form input:focus {
    outline: none;
    border-color: #1d127c;
  }
  
  .form-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .dengue-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #1d127c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dengue-form button:hover {
    background-color: #45a049;
  }
  
  .dengue-form button:active {
    background-color: #397739;
  }
  .pagination{
    margin-top: 20px;
    margin-left: 350px;
}

.search-bar {
  margin-bottom: 16px;
}

.search-input {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
