/* sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1d127c;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid #d5d0d0;
    border-top-right-radius: 5px;
  }
  
  .sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  .sidebar ul {
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: rgb(29, 29, 29);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    border: 1px solid #d5d0d0;
    padding: 8px;
    border-radius: 5px;
    background-color: azure;
  }
  
  .sidebar ul li a:hover {
    background-color: rgb(35, 110, 230);
    color: azure;

  }
  
  .sidebar ul li a svg {
    margin-right: 10px; /* Space between the icon and the text */
    font-size: 20px; /* Adjust the size of the icon */
  }
  